<div class="container" style="margin: 15%;">
  <h1>Add a project</h1>

  <form validate ng-submit="ctrl.addProject()">
    <label for="name">Name</label>
    <input type="text" ng-model="ctrl.projectNew.name" required>

    <label for="description">Description</label>
    <textarea class="materialize-textarea" ng-model="ctrl.projectNew.description"></textarea>

    <label for="url">Link</label>
    <input type="text" ng-model="ctrl.projectNew.url" required>

    <input type="submit" value="Add Project">
  </form>
</div>