<div class="container" style="display: flex; flex-flow: column wrap; min-width: 100vw;">
  <div id="home" style="background: #0F2C3E; flex: 1; min-height: 100vh;">
    <div class="intro" style="text-align: center; color: white;">
      <img style="margin: 8% auto 0; border-radius: 50%; box-shadow: 0px 0px 4px 4px #888888;" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/10269444_10204802316011687_7598557748277988577_n.jpg?oh=88e406258f25151d9d2f91ab1b9128df&oe=58880016" />
      <h1 style="margin: 1% auto 0.5%; font-size: 2em;">Zach Newburgh</h1>
      <h2 style="margin: 0 auto 1%; font-size: 1.5em;">Software Engineer</h2>
      <a target="_blank" href="http://www.linkedin.com/in/zachnewburgh/"><img style="background: white; padding: 0.5%; border-radius: 5px; box-shadow: 0px 0px 2px 2px #888888; width: 7.5%;" id="linkedin-btn" src="assets/linkedin-btn.png"/></a>
    </div>
  </div>

  <div id="about" style="background: #EDEDED; flex: 1; min-height: 100vh; display: flex; flex-flow: row wrap">
    <div style="flex: 1; padding: 3% 0.5%;" ng-repeat="project in ctrl.projects">
      <div class="col s12 m3">
        <div class="card" style="min-width: 325px; min-height: 350px; box-shadow: 0px 0px 1px 1px #888888;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="responsive-img" src="http://d28hgpri8am2if.cloudfront.net/author_images/2490_1487327_hr.jpg">
          </div>
          <div class="card-content activator">
            <span class="card-title grey-text text-darken-4 activator" style="word-wrap: wrap;">{{project.name}}</span> 

            <p><a target="_blank" href="{{project.url}}">Link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{project.name}}<i class="material-icons right">close</i></span>
            <p>{{project.description}}</p>

            <a href="#" ui-sref="projects.show({id: project.id})">View Project</a> | 
            <a href="#" ui-sref="projects.edit({id: project.id})">Edit Project</a> | 
            <a href ng-click="ctrl.deleteProject(project)">Delete Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" style="background: #26404F; display: flex; justify-content: center; padding: 2%">
    <div class="form" style="background: #EDEDED; padding: 3%">
      <form>
        <label for="name">Name</label>
        <input type="text" value="name" required>

        <label for="email">Email</label>
        <input type="email" value="email" required>

        <label for="subject">Subject</label>
        <input type="text" value="subject" required>

        <label for="message">Message</label>
        <textarea value="message"></textarea>

        <input type="submit" value="Send Message">
      </form>
    </div>
  </div>

</div>

<a href="#" ui-sref="projects.new">New</a>
